doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title vocabulary-quiz

  body
    a(href="/logout").float-right logout
    h1 vocabulary-quiz
    
    li
      a(href="/quiz") START
    li
      a(href="/score") SCORE
